body
  background-color: black
  font-family: "helvetica"

.loading-msg
  color: white

.current-img
  max-height: 80vh
  // Depending on design constraints, we could alter the display so the
  // previous and next buttons are always in the same spot.
  // reverse the commenting status of lines 13 to 15 to try that
  max-width: 85vw
  // width: 85vw
  // object-fit: contain

#slideshow
  box-sizing: border-box
  height: 90vh
  display: flex
  align-items: center
  justify-content: center

  .image-container
    display: none
    background-color: white
    overflow: hidden
    position: relative
    flex-shrink: 1
    padding: 15px
    object-fit: contain

  .prev-btn, .next-btn
    position: absolute
    background: white
    border-radius: 50%
    width: 80px
    height: 80px
    top: calc(50% - 40px)

  .prev-btn
    left: 25px
    margin-left: -55px
    box-shadow: 3px 3px 5px 2px #666

    .icon-tabler-chevron-left
      padding-left: 30px
      padding-top: 20px


  .next-btn
    right: 25px
    margin-right: -55px
    box-shadow: -3px 3px 5px 2px #666

    .icon-tabler-chevron-right
      padding-left: 8px
      padding-top: 18px

#bottom-nav
  display: flex
  justify-content: space-around
  align-items: center
  max-height: 5vh

  #controls
    flex-grow: 0

  .counter-string
    color: white

    .counter
      font-weight: bold

@media only screen and (max-height: 420px)
  #bottom-nav
    margin-top: 5px
    #controls .icon-tabler
      max-height: 5vh
      max-width: 5vh
